* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#page-top {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container-nav {
    width: 100%;
    height: 12vh;
    background-color: #f85206;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1030;
    right: 0;
    left: 0;
    top: 0;
}

.box-nav {
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.title {
    width: 79vw;
    height: 6vh;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 700;
    padding-left: 0.5em;
}

.click {
    width: 18vw;
    height: 7vh;
    font-size: 80%;
    font-weight: 700;
    cursor: pointer;
    color: #ffffff;
    border-radius: .5rem;
    background-color: #383a3a;
    border: .125rem solid transparent;
    margin-top: 0.4em;
}

.menu {
    width: 100%;
    height: 22vh;
    background-color: #f85206;
    color: #ffffff;
    padding-left: 0.5em;
    list-style: none;
    font-size: 1rem;
    font-weight: 700;
    display: none;
}

.list-item {
    margin-top: 1.2em;
}

.container-one {
    width: 100%;
    height: 120vh;
    background-color: #383a3a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-main-photo {
    width: 80%;
}

.photo-main {
    width: 100%;
}

.title-two {
    font-size: 4em;
    width: 80vw;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.box-star {
    width: 62vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.trace {
    width: 22vw;
    height: 0.6vh;
    background-color: #ffffff;
    border-radius: 2px;
}

.trace-two {
    width: 22vw;
    height: 0.6vh;
    border-radius: 2px;
    background-color: #f85206;
}

.star {
    width: 25%;
    color: #ffffff;
    font-size: 2em;
    display: flex;
    justify-content: center;
}

.star-two {
    width: 25%;
    color: #f85206;
    font-size: 2em;
    display: flex;
    justify-content: center;
}

.sub-title {
    color: #ffffff;
    font-size: 1.4em;
}

.container-two {
    width: 100%;
    height: 334vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.title-tree {
    font-size: 3em;
    width: 80vw;
    display: flex;
    justify-content: center;
    color: #f85206;
}

.port-photo {
    width: 86vw;
    height: 42vh;
    border-radius: 8px;
    background-image: url('../assets/img/portfolio/cabin.jpg');
    background-size: cover;
}

.port-photo2 {
    width: 86vw;
    height: 42vh;
    border-radius: 8px;
    background-image: url('../assets/img/portfolio/cake.jpg');
    background-size: cover;
}

.port-photo3 {
    width: 86vw;
    height: 42vh;
    border-radius: 8px;
    background-image: url('../assets/img/portfolio/circus.jpg');
    background-size: cover;
}

.port-photo4 {
    width: 86vw;
    height: 42vh;
    border-radius: 8px;
    background-image: url('../assets/img/portfolio/game.jpg');
    background-size: cover;
}

.port-photo5 {
    width: 86vw;
    height: 42vh;
    border-radius: 8px;
    background-image: url('../assets/img/portfolio/safe.jpg');
    background-size: cover;
    background-position: 50%;
}

.port-photo6 {
    width: 86vw;
    height: 42vh;
    border-radius: 8px;
    background-image: url('../assets/img/portfolio/submarine.jpg');
    background-size: cover;
    background-position: 50%;
}