* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #383a3a;
}

#page-top {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container-nav {
    width: 100%;
    height: 12vh;
    background-color: #f85206;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 2px #000000;
    position: fixed;
    z-index: 1030;
}

.box-nav {
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.title {
    width: 79vw;
    height: 6vh;
    color: #ffffff;
    font-size: 1.25rem;
    font-family: 'SB Heading';
    font-weight: 700;
    padding-left: 0.5em;
}

.click {
    width: 18vw;
    height: 7vh;
    font-size: 80%;
    font-weight: 700;
    cursor: pointer;
    color: #ffffff;
    border-radius: .5rem;
    background-color: #383a3a;
    border: .125rem solid transparent;
    margin-top: 0.4em;
}

.menu {
    width: 100%;
    height: 22vh;
    background-color: #f85206;
    color: #ffffff;
    padding-left: 0.5em;
    list-style: none;
    font-size: 1rem;
    font-weight: 700;
    box-shadow: 1px 1px 2px #000000;
    display: none;
}

.list-item {
    margin-top: 1.2em;
    font-family: 'SB Heading';
    font-weight: 700;
}

.container-one {
    width: 100%;
    height: 130vh;
    background-color: #383a3a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-main-photo {
    width: 80%;
}

.photo-main {
    width: 100%;
}

.box-title {
    width: 84vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-two {
    font-size: 3em;
    font-family: 'SB Heading';
    font-weight: 700;
    width: 80vw;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.box-star {
    width: 62vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2em;
}

.trace {
    width: 22vw;
    height: 0.6vh;
    background-color: #ffffff;
    border-radius: 2px;
}

.trace-two {
    width: 22vw;
    height: 0.6vh;
    border-radius: 2px;
    background-color: #f85206;
}

.star {
    width: 25%;
    color: #ffffff;
    font-size: 2em;
    display: flex;
    justify-content: center;
}

.star-two {
    width: 25%;
    color: #f85206;
    font-size: 2em;
    display: flex;
    justify-content: center;
}

.box-sub-title {
    width: 96vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-title {
    color: #ffffff;
    font-size: 1.4em;
    font-family: 'SB Body';
    font-weight: 300;
}

#container-two {
    width: 100%;
    height: 350vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-tree, .title-five {
    font-size: 2.4em;
    font-family: 'SB Heading';
    font-weight: 700;
    width: 80vw;
    display: flex;
    justify-content: center;
    color: #f85206;
}

.container-photos {
    width: 92vw;
    height: 300vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.port-photo {
    width: 86vw;
    height: 42vh;
    border-radius: 8px;
    background-image: url('../assets/img/portfolio/cabin.jpg');
    background-size: cover;
}

.port-photo2 {
    width: 86vw;
    height: 42vh;
    border-radius: 8px;
    background-image: url('../assets/img/portfolio/cake.jpg');
    background-size: cover;
}

.port-photo3 {
    width: 86vw;
    height: 42vh;
    border-radius: 8px;
    background-image: url('../assets/img/portfolio/circus.jpg');
    background-size: cover;
}

.port-photo4 {
    width: 86vw;
    height: 42vh;
    border-radius: 8px;
    background-image: url('../assets/img/portfolio/game.jpg');
    background-size: cover;
}

.port-photo5 {
    width: 86vw;
    height: 42vh;
    border-radius: 8px;
    background-image: url('../assets/img/portfolio/safe.jpg');
    background-size: cover;
    background-position: 50%;
}

.port-photo6 {
    width: 86vw;
    height: 42vh;
    border-radius: 8px;
    background-image: url('../assets/img/portfolio/submarine.jpg');
    background-size: cover;
    background-position: 50%;
}

.overlay {
    width: 86vw;
    height: 42vh;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    color: transparent;
    transition: .3s;
}

.overlay:hover {
    color: #ffffff;
    background-color: #383a3a;
    opacity: 0.96;
}

#container-tree {
    width: 100%;
    height: 140vh;
    background-color: #383a3a;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-four {
    font-size: 3em;
    font-family: 'SB Heading';
    font-weight: 700;
    width: 80vw;
    display: flex;
    justify-content: center;
    color: #ffffff;
    margin-top: 2em;
}

.box-texts {
    width: 90vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text, .text-two {
    font-size: 1.4em;
    font-family: 'SB Body';
    font-weight: 300;
    color: #ffffff;
    width: 76vw;
    margin-top: 1em;
}

#container-four {
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-contact {
    width: 90vw;
    height: 69vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.box-phone, .box-email {
    width: 94vw;
    height: 34vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.smart, .letter {
    width: 22vw;
    height: 15vh;
    border-radius: 50%;
    background-color: #f85206;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.8em;
    color: #ffffff;
}

.text-phone, .text-email {
    color:#6c757d;
    font-size: 1em;
    font-family: 'SB Body';
    font-weight: 400;
}

.number, .email {
    font-size: 1.5em;
    color: #f85206;
    font-family: 'SB Body';
    font-weight: 700;
}

.container-five {
    width: 100%;
    height: 120vh;
    background-color: #f85206;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.box-address {
    width: 90vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-loc {
    font-size: 1.8em;
    color: #ffffff;
    font-family: 'SB Heading';
    font-weight: 700;
    padding: 1em;
}

.text-address {
    color: #ffffff;
    font-size: 1.4em;
    font-family: 'SB Body';
    font-weight: 300;
}

.box-web {
    width: 90vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.title-web {
    font-size: 1.7em;
    color: #ffffff;
    font-family: 'SB Heading';
    font-weight: 700;
}

.box-icons-web {
    width: 62vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-web {
    width: 12.5vw;
    height: 9vh;
    border: 1.8px solid #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 1.5em;
    transition: .15s;
}

.icon-web:hover {
    background-color: #ffffff;
    color: #f85206;
}

.box-about {
    width: 90vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.title-about {
    font-size: 1.6em;
    color: #ffffff;
    font-family: 'SB Heading';
    font-weight: 700;
}

.text-about {
    font-size: 1.12em;
    color: #ffffff;
    font-family: 'SB Body';
    font-weight: 300;
}

.final-container {
    width: 100%;
    height: 14vh;
    background-color: #1a252f;
    font-size: 0.9em;
    font-family: 'SB Body';
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

@media(min-width: 768px) {
    .box-nav {
        flex-wrap: unset;
        justify-content: space-between;
    }

    .title {
        width: 30vw;
    }

    .click {
        display: none;
    }

    .menu {
        width: 40%;
        height: 7vh;
        box-shadow: unset;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .list-item {
        margin-top: unset;
    }

    .box-main-photo {
        width: 30%;
    }

    .box-title {
        width: 65vw;
        height: 10vh;
        flex-direction: unset;
    }

    .box-sub-title {
        flex-direction: unset;
        justify-content: center;
    }

    #container-two {
        height: 200vh;
    }

    .container-photos {
        width: 86vw;
        height: 146vh;
        flex-direction: unset;
        flex-wrap: wrap;
    }

    .port-photo, .port-photo2, .port-photo3, .port-photo4, .port-photo5, .port-photo6 {
        width: 40vw;
    }

    .overlay {
        width: 40vw;
    }

    #container-tree {
        height: 90vh;
    }

    .box-texts {
        width: 94vw;
        height: 40vh;
        flex-direction: unset;
        align-items: unset;
        justify-content: space-around;
    }

    .text, .text-two {
        font-size: 1.3em;
        width: 44vw;
        margin-top: unset;
    }

    #container-four {
        height: 90vh;
    }

    .box-contact {
        width: 78vw;
        height: 40vh;
        flex-direction: unset;
        justify-content: space-between;
    }

    .box-phone, .box-email {
        width: 32vw;
    }

    .smart, .letter {
        width: 13vw;
    }

    .box-icons-web {
        width: 38vw;
    }

    .icon-web {
        width: 7.5vw;
    }
}

@media(min-width: 1024px) {
    .container-nav {
        height: 14vh;
    }

    .box-nav {
        width: 80%;
        align-items: center;
    }

    .title {
        font-size: 1.8rem;
        height: unset;
        padding-left: unset;
    }

    .menu {
        width: 30%;
        padding-left: unset;
        justify-content: space-between;
    }

    .box-title {
        width: 48vw;
    }

    .title-two {
        font-size: 3.8em;
    }

    .box-star {
        width: 25vw;
    }

    .trace, .trace-two {
        width: 10vw;
    }

    .box-sub-title {
        width: 32vw;
        justify-content: space-between;
    }

    #container-two {
        height: 130vh;
    }

    .title-tree {
        font-size: 2.8em;
    }

    .container-photos {
        height: 82vh;
    }

    .port-photo, .port-photo2, .port-photo3, .port-photo4, .port-photo5, .port-photo6 {
        width: 26vw;
        height: 34vh;
    }

    .overlay {
        width: 26vw;
        height: 34vh;
    }

    #container-tree {
        justify-content: center;
    }

    .box-texts {
        width: 60vw;
    }

    .text, .text-two {
        width: 26vw;
    }

    #container-four {
        height: 80vh;
    }

    .title-five {
        font-size: 2.9em;
    }

    .box-contact {
        width: 44vw;
        height: 28vh;
    }

    .box-phone, .box-email {
        width: 16vw;
        height: 25vh;
    }

    .smart, .letter {
        width: 6.2vw;
        height: 12vh;
        font-size: 2em;
    }

    .number, .email {
        font-size: 1.3em;
    }

    .container-five {
        height: 46vh;
        flex-direction: unset;
    }

    .box-address {
        height: 24.4vh;
    }

    .title-loc {
        font-size: 1.5em;
    }

    .text-address {
        font-size: 1.3em;
    }

    .box-web {
        height: 20vh;
    }

    .title-web {
        font-size: 1.5em;
    }

    .box-icons-web {
        width: 18vw;
    }

    .icon-web {
        width: 4vw;
        height: 8vh;
        font-size: 1.3em;
    }

    .box-about {
        height: 19vh;
    }

    .title-about {
        font-size: 1.5em;
    }

    .text-about {
        font-size: 1.2em;
    }

    .final-container {
        height: 11vh;
    }
}